* {
  padding: 0;
  margin: 0; }

body {
  font-family: sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.content {
  max-width: 941px;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.section1 {
  background-color: #fcdb00; }

.header {
  padding-bottom: 70px; }
  .header span {
    font-weight: bold;
    position: relative;
    top: -18px;
    font-size: 20px; }

.content-menu {
  float: right; }

#hamburguer {
  position: absolute;
  left: 2%;
  top: 6%;
  display: none; }

.menu li {
  padding-left: 70px;
  font-weight: bold;
  float: left;
  font-size: 20px; }
  .menu li a {
    color: black; }

#sliders {
  padding-bottom: 500px; }

.slide {
  position: absolute;
  right: 0;
  width: 960px; }
  .slide .block {
    float: left; }
  .slide:first-child {
    left: 0; }
  .slide:nth-child(2) {
    left: 100vw; }
  .slide:last-child {
    left: 200vw; }

.redesResponsive {
  float: right;
  display: none;
  position: absolute;
  right: 2%;
  top: 6%; }

.content-slider {
  width: 43%;
  float: left; }

.content-img {
  width: 57%;
  float: left; }

.slider h2 {
  font-size: 32px;
  padding: 70px 0 20px 0; }
.slider .bold {
  font-size: 20px;
  color: #313841; }
.slider .light {
  color: #555555;
  padding: 27px 0 42px 0; }

.sprite {
  text-align: center; }
  .sprite .uno, .sprite .dos, .sprite .tres {
    background-image: url("../img/resesSlider.png");
    background-repeat: no-repeat;
    width: 33px;
    height: 39px;
    float: left;
    padding-right: 38px;
    padding-bottom: 166px; }
  .sprite .uno {
    background-position: 0 0; }
  .sprite .dos {
    background-position: -71px 0; }
  .sprite .tres {
    background-position: -142px 0; }

.tablet {
  float: right; }

.center-btnSlider {
  text-align: center; }

.btnSlider {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 43px;
  text-align: center; }
  .btnSlider .BTN {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5; }
  .btnSlider .BTN:hover {
    opacity: 1; }

.section2 h2 {
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center; }
.section2 p {
  text-align: center; }

.header {
  padding-top: 45px; }

.boxSection2 {
  width: 300px;
  float: left;
  min-height: 180px;
  padding: 6px; }
  .boxSection2 .content {
    max-width: 220px; }
    .boxSection2 .content .light {
      color: #898989;
      padding-top: 15px;
      max-width: 390px;
      text-align: left; }

.content-wrapper {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 160px; }

.block1 {
  max-width: 780px;
  margin: 0 auto; }

.box1:before {
  background-image: url(../img/logo1.png);
  content: '';
  width: 35px;
  height: 40px;
  display: inline-block;
  position: relative;
  left: -55px;
  top: 45px;
  background-repeat: no-repeat; }

.box2:before {
  background-image: url(../img/logo2.png);
  content: '';
  width: 43px;
  height: 44px;
  display: inline-block;
  position: relative;
  left: -55px;
  top: 45px;
  background-repeat: no-repeat; }

.box3:before {
  background-image: url(../img/logo3.png);
  content: '';
  width: 47px;
  height: 40px;
  display: inline-block;
  position: relative;
  left: -55px;
  top: 45px;
  background-repeat: no-repeat; }

.box4:before {
  background-image: url(../img/logo4.png);
  content: '';
  width: 53px;
  height: 40px;
  display: inline-block;
  position: relative;
  left: -55px;
  top: 45px;
  background-repeat: no-repeat; }

.box5:before {
  background-image: url(../img/logo5.png);
  content: '';
  width: 51px;
  height: 40px;
  display: inline-block;
  position: relative;
  left: -55px;
  top: 45px;
  background-repeat: no-repeat; }

.box6:before {
  background-image: url(../img/logo6.png);
  content: '';
  width: 36px;
  height: 46px;
  display: inline-block;
  position: relative;
  left: -55px;
  top: 45px;
  background-repeat: no-repeat; }

.section3 {
  background-color: #010101; }
  .section3 h2 {
    padding-top: 9.5%;
    padding-bottom: 20px;
    text-align: center;
    color: #fcdb00; }
  .section3 p {
    text-align: center;
    color: #898989; }
  .section3 form {
    max-width: 780px;
    margin: 0 auto;
    padding: 45px 0 75px 0;
    text-align: center; }

#email {
  padding: 2% 39% 2% 2.5%;
  border: none;
  border-radius: 5px;
  color: #555555; }

#submit {
  padding: 2% 3.5%;
  background-color: #fcdb00;
  border: none;
  border-radius: 5px;
  margin-left: 2%; }

.center-sprite {
  text-align: center; }

.spriteFooter .uno, .spriteFooter .dos, .spriteFooter .tres, .spriteFooter .cuatro {
  background-image: url("../img/redesSociales.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  float: left;
  padding-right: 34px; }
.spriteFooter .uno {
  background-position: 0 0; }
.spriteFooter .dos {
  background-position: -70px 0; }
.spriteFooter .tres {
  background-position: -140px 0; }
.spriteFooter .cuatro {
  background-position: -210px 0; }

.footer {
  color: #d4d4d4;
  margin: 0 auto;
  padding-top: 13%;
  padding-bottom: 13.5%; }
  .footer .boxFooter {
    float: left;
    padding-left: 5%;
    padding-right: 5%; }
  .footer .boxFooterfirst {
    padding-left: 2%; }

@media (max-width: 768px) {
  .none {
    display: none; }

  .section1 .containerLogo {
    text-align: center; }
  .section1 #hamburguer {
    display: block; }
  .section1 .menu {
    display: none; }
  .section1 .content-slider {
    text-align: center;
    float: none; }
  .section1 .content-img {
    display: none; }
  .section1 .containerLogo img {
    width: 5%; }
  .section1 .containerLogo span {
    font-size: 1.2rem;
    position: relative;
    top: -13px; }
  .section1 .uno, .section1 .dos, .section1 .tres {
    background-image: url("../img/redesSlider2.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 38px;
    padding-bottom: 150px; }
  .section1 .uno {
    background-position: 0 0; }
  .section1 .dos {
    background-position: -108px 0; }
  .section1 .tres {
    background-position: -216px 0; }

  .redesResponsive {
    display: block; }

  .section2 h2 {
    padding-top: 110px;
    padding-bottom: 5px;
    text-align: center; }
  .section2 p {
    text-align: center;
    color: #555555; }

  .boxSection2 {
    width: 300px;
    min-height: 100px;
    padding: 6px;
    float: none; }
    .boxSection2 .content {
      max-width: 220px; }
      .boxSection2 .content .light {
        color: #898989;
        padding-top: 15px;
        max-width: 390px;
        text-align: left; }

  .contentBox2, .contentBox5 {
    display: none; }

  .contentBox3, .contentBox6 {
    float: right; }

  .box1:before {
    display: none; }

  .box2:before {
    display: none; }

  .box3:before {
    display: none; }

  .box4:before {
    display: none; }

  .box5:before {
    display: none; }

  .box6:before {
    display: none; }

  .content-wrapper {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 160px; }

  .block1 {
    max-width: 780px;
    margin: 0 auto; }

  form {
    padding: 4.5% 0 10% 0 !important; }

  .spriteFooter {
    display: none; }

  .footer {
    font-size: 0.6rem;
    padding-top: 0%;
    padding-bottom: 15%; } }

/*# sourceMappingURL=stilos.css.map */
