//tamaños breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
//colores
$white: white;
$black:black;
$bacgroundColor1: #fcdb00;
$yellow: #fcdb00;
$bacgroundColor3: #010101;
$colorLight: #555555;
$colorFooter: #d4d4d4;
//fuentes



//tamaños



